.divdark{
    background-color: #1F2937;
}
/*---Header---*/
.header {
    background-color: #1F2937;
    padding: 30px;
    position: relative;
}
.header img {
    position: absolute;
    top: 0px;
    width: 30px;
    height: 30px;
    color: #F9FAF8;
    font-size: 24px;
}
.header nav {
    float: right;
    margin-top: -30px;
    margin-right: 150px;
}
.header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;

}

/*---About---*/
.about {
    text-align: left;
    background-color:#1F2937 ;
    padding: 30px;
    position: relative;
}

.about h1 {
    font-size: 48px;
    font-weight: extra-bold;
    margin-bottom: 10px;
    color: #F9FAF8;
}

.about p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #E5E7EB;
}

.about img {
    position: absolute;
    right: 20%; 
    top: 10px; 
    width: 280px; 
    height: 270px; 
}

.about button {
    position:absolute;
    top: 265px;
    right: 88%;
    padding: 10px 20px;
    background-color: #3882F6;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    float: left;
}

/*---Projects---*/
.project{
    background-color: #fff;
    color: #1F2937;
}
.project h2{
    text-align: center;
}
.project ul{
    display: flex;
    justify-content: center;
}
.project ul li{
    display:inline-block;
    position: relative;
    margin: 190px 100px;
    z-index: 1;
  }
.project ul li::before{
    content: "";
    position: absolute; 
    top: -180px; 
    left: -85px;
    right: 0;
    width: 500%; 
    height: 170px; 
    background-color: white; 
    border-top: 2px solid #3882F6;
    border-bottom: 2px solid #3882F6;
    border-left: 2px solid #3882F6;
    border-right: 2px solid #3882F6; 
    z-index: -1;
    border-radius: 5%;
    
}

/*---Quote---*/
.quote {
    text-align: center;
    background-color: #E5E7EB;
    width: auto;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote .text {
    font-size: 36px;
    font-style: light italic;
    margin: 0;
    padding: 0;
    color: #1F2937;
}

/*---Contact Info---*/
.contact-info {
    text-align: center;
  }
  
  .contact-info h3 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
  }
  
  .contact-info p {
    margin: 0;
    padding: 0;
    font-size: 1em;
  }
  
  .contact-info button {
    float: right;
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  


